
<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>E-Sports Initiative</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>



<!-- First Band (Slider) -->

  <div class="row">
    <div class="large-12 columns">
    <ul data-orbit>
      <li><%= link_to image_tag('rails.png')%></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 2 ]" /></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 3 ]" /></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 4 ]" /></li>
    </ul>
    <!-- <div id="slider">
      
    </div> -->
    
    <hr />
    </div>
  </div>
  
<!-- Three-up Content Blocks -->

	<div class="row">
		<div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4><%= link_to "Events", events_path%></h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4><%= link_to "News", news_path%></h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4><%= link_to "Charity", charity_path%></h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
	
    </div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-6 columns">
            <p>Want to work with ESI?</p>
          </div>
          <div class="large-6 columns">
              <ul class="even-3 button-group">
                <li><a href="#" class="small button">Volunteer with us</a></li>
                <li><a href="#" class="small button">Meet with us</a></li>
                <li><a href="#" class="small button">Contact us</a></li>
              </ul>
          </div>
        </div>
        <div class="row">
        <div class="large-6 columns">
          <p>Want to keep up to date?</p>
        </div>
        <div class="large-6 columns">
           <ul class="even-2 button-group">
             <li><a href="#" class="small button">Facebook</a></li>
             <li><a href="#" class="small button">Twitter</a></li>
           </ul>
        </div>
      </div>
      
    </div>
  </div>


</body>
</html>

