<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">

    <article>

      <h3>Sponsors</h3>


      <div class="row">
        <div class="large-9 columns">

          <p>The Women in e-Sports Fellowship was established in 2013 to help address the under-representation of women in the e-Sports and video game industries. A 2012 consumer and industry report by the Entertainment Software Association (ESA) and a study in 2005 of workplace diversity revealed that women constituted 47% of the consumers of the digital media industry while making up only 12% of the employees. In fact, gender disparity by job description can be as great as 19:1, male to female, for categories such as programming, which has been attributed to the difficulty of attracting women to computer science, engineering, and STEM careers in general.E-Sports Initiative is a nonprofit organization that strives to galvanize recreational and competitive video game players, as well as the gaming industry, to raise money for local causes. We work to beneficially impact the community while maintaining a positive image of the industry and its consumers.</p>

          <p>The aim of this fellowship is to provide financial support and encouragement for women who demonstrate interest in the digital media industry and to furnish them with an opportunity to work closely with the industry throughout the duration of the fellowship and beyond.</p>

          <p>Download the application < ahref = "http://www.esportsinitiative.org/documents/WomenIneSportsScholarshipApplication.pdf"> here </a>and be sure to submit application and all supporting documents by Friday, September 6th 2013 at 5:00pm to scholarships@esportsinitiative.org</p>

        </div>
      </div>

    </article>
</body>