<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">

    <article>

      <h3>Sponsors</h3>


      <div class="row">
        <div class="large-9 columns">
         <ul>
           <li><%=link_to( image_tag('osu-logo.png'))%></li>
         </ul>

          
        </div>
      </div>

    </article>
    <article>

      <h3>Partners</h3>
     <div class ="row">
      <div class="large-9 columns">

      </div>
    </div>

    </article>
    <article>

      <h3>Honorable Mentions</h3>
      <div class ="row">
        <div class="large-9 columns">

        </div>
      </div>

    </article>
</body>